{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Contenido específico para la página de inicio/historial -->
<!-- <div class="main-config row justify-content-center align-items-center">

     <div class="col"> <a href=""></a></div>
    <div class="center-section ">
        <div class="row">
            <div class="ubicacion col-6" >
            <h3>Ubicación Usuarios</h3>
            <div id="ubicacionConfig" class="operation-item flex-column ">   </div>
            
            </div>
        <div class="tipo col-6" ><h3>Tipo</h3> <div class="operation-item flex-column" id="tipoConfig"></div></div>
        
    </div>
        
    <div class="row">
    
        <div class="estado col" ><h3>Estado</h3><div class="operation-item flex-column" id="estadoConfig"></div></div>
        <div class="unidades col " ><h3>Unidades</h3><div class="operation-item flex-column" id="unidadesConfig"></div></div>
    </div>
    <div class="seccion " ><h3>Sección Deposito</h3> <div class="operation-item flex-column" id="seccionConfig"></div></div>
    </div>
    
    
     <div class="col"></div>   
</div>
Agrega otros modales o contenido específico aquí -->
<div class="main-div">
    <div class="campo" data-apartado="tipo">
        <h3>Tipo</h3>
        <div class="operation-item flex-column valores-container"></div>
        <button class="add-button btn btn-primary btn-sm mt-3">Agregar Tipo</button>
    </div>
</div>

{% endblock %}
